
.gnb {
    display: flex;
}
.gnb > li {
    position: relative;
}
.gnb > li > a {
    display: block;
    padding: 10px 60px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 500;
    color: #222;
    transition: all 0.3s;
}
.gnb > li > a:hover {
    color: brown
}
.gnb .subMenu {
    position: absolute;
    top: 60px;
    width: 100%;
    border-radius: 6px;
    padding: 10px 20px;
    background: brown;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    z-index: 2;
}
.gnb .subMenu a {
    display: block;
    text-align: center;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.7);
}
.gnb .subMenu a:hover {
    color: #fff;
}